@inherits LayoutComponentBase

<CodeBreakerLayout Label="@($"{Loc["Index_Welcome"]} {Loc["AppDisplayName"]}")">
    <ToolbarContent>
        <div class="flex toolbar-content"></div>
    </ToolbarContent>
    <ChildContent>
        <div class="content-container">@Body</div>
    </ChildContent>
    <DrawerContent>
        <CodeBreakerNavMenu MenuItems="_menuItems" />
    </DrawerContent>
</CodeBreakerLayout>
