apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    access: proxy
    url: $PROMETHEUS_ENDPOINT
    isDefault: true
    editable: true
    jsonData:
      httpMethod: POST
      timeInterval: 1s
