/* label */
label {
    --other: var(--body-text-color);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 12px 0;
    cursor: pointer;
    position: relative;
}


/* input */
::deep input[type="radio"] {
    display: none;
}


/* .design */
.design {
    width: 16px;
    height: 16px;
    border: 1px solid var(--other);
    border-radius: 100%;
    margin-right: 16px;
    position: relative;
}

    .design::before,
    .design::after {
        content: "";
        display: block;
        width: 14px;
        height: 14px;
        border-radius: inherit;
        position: absolute;
        transform: scale(0);
        transform-origin: center center;
    }

    .design:before {
        background: var(--other);
        opacity: 0;
        transition: .3s;
    }

    .design::after {
        background: var(--accent-color);
        opacity: .4;
        transition: .6s;
    }


/* .text */
.text {
    color: var(--other);
    font-weight: bold;
}


/* checked state */
input:checked + .design::before {
    opacity: 1;
    transform: scale(.6);
}


/* other states */
input:checked + .design,
input:hover + .design,
input:focus + .design {
    border: 1px solid var(--accent-color);
}

    input:checked + .design:before,
    input:hover + .design:before,
    input:focus + .design:before {
        background: var(--accent-color);
    }

input:hover ~ .text {
    color: var(--accent-color);
}

input:focus + .design::after,
input:active + .design::after {
    opacity: .1;
    transform: scale(2.6);
}
