@namespace CodeBreaker.Blazor.UI.Components

<label for="inp" class="inp">
    <InputDate Value="Date" ValueChanged="DateChanged" ValueExpression="() => Date" />
    <span class="label">Label</span>
    <span class="focus-bg" />
</label>
