@namespace CodeBreaker.Blazor.UI.Components

<div class="app-card">
    <span>
        @HeaderContent
    </span>
    <div class="app-card__subtext">@CardContent</div>
    <div class="app-card-buttons">
        @CardActions
    </div>
</div>
