.app-card {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    background-color: var(--content-bg);
    border-radius: 14px;
    border: 1px solid var(--theme-bg-color);
    padding: 20px;
    cursor: pointer;
    transition: 0.3s ease;
}

    .app-card span {
        display: flex;
        align-items: center;
    }

.app-card__subtext {
    flex: 1;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6em;
    border-bottom: 1px solid var(--border-color);
}

.app-card-buttons {
    align-self: flex-end;
    display: flex;
    align-items: center;
}
