.lds-dual-ring {
    display: inline-block;
}

    .lds-dual-ring:after {
        content: " ";
        display: block;
        width: 16px;
        height: 16px;
        margin: 8px;
        border-radius: 50%;
        border: 6px solid var(--theme-color);
        border-color: var(--theme-color) transparent var(--theme-color) transparent;
        animation: lds-dual-ring 1.2s linear infinite;
    }

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
