@namespace CodeBreaker.Blazor.UI.Components
@inherits CodeBreakerInputBase

<label for="inp" class="inp">
    <input type="text" id="inp" autocomplete="off" value="@Value" @oninput=@((args) => ValueChanged.InvokeAsync(args?.Value?.ToString() ?? string.Empty))>
    <span class="label">@Label</span>
    <span class="focus-bg" />
</label>
