@page "/"
@using BlazorWASMAuth.Client.Pages
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<Auth>  </Auth>

<RemoteAuthenticatorView />